<h1>All Orders</h1>

<% @orders.each do |order| %>
  <div>
    <p>Order #<%= order.id %></p>
    <p>Status: <%= order.status %></p>
    <%= link_to 'View Details', admin_order_path(order) %>
    <%= button_to 'Delete', admin_order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
