<!-- app/views/prebuilt_menus/new.html.erb -->
<br><br><br>
<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h1><%=t("new_prebuilt_menu")%></h1>
    </div>
    <div class="card-body">
      <%= render 'form', prebuilt_menu: @prebuilt_menu %>
      <%= link_to t("back"), prebuilt_menus_path, class: 'btn btn-secondary mt-3' %>
    </div>
  </div>
</div>
