<!-- app/views/prebuilt_menus/new.html.erb -->

<div class="container mt-5">
  <h1>New Prebuilt Menu</h1>

  <%= render 'form', prebuilt_menu: @prebuilt_menu %>

  <%= link_to 'Back', prebuilt_menus_path, class: 'btn btn-secondary' %>
</div>
