<h1>Your Orders</h1>

<% @orders.each do |order| %>
  <div>
    <p>Order #<%= order.id %></p>
    <p>Status: <%= order.status %></p>
    <%= link_to 'View Details', order_path(order) %>
  </div>
<% end %>
